<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Taco Cloud</title>
</head>
<body>
<h1>Przygotuj własne taco</h1>
<form method="post" th:action="@{/orders}" th:object="${order}">

    <h1>Zamów przygotowane Taco</h1>
    <img th:src="@{/images/tacoCloud.png}"/>
    <a th:href="@{/design}" id="another">Przygotuj kolejne taco</a>

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
            Usuń wymienione problemy i spróbuj ponownie
        </span>
    </div>

    <h3>Adres doręczenia taco</h3>
    <label for="deliveryName">Imie i nazwisko</label>
    <input type="text" th:field="*{deliveryName}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryName')}"
          th:errors="*{deliveryName}">Podanie imienia i nazwiska jest obowiązkowe</span>
    <br/>

    <label for="deliveryStreet">Ulica</label>
    <input type="text" th:field="*{deliveryStreet}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryStreet')}"
          th:errors="*{deliveryStreet}">"Podanie ulicy jest obowiązkowe</span>
    <br/>

    <label for="deliveryCity">Miasto</label>
    <input type="text" th:field="*{deliveryCity}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryCity')}"
          th:errors="*{deliveryCity}">Podanie miejscowości jest obowiązkowe</span>
    <br/>

    <label for="deliveryState">Województwo</label>
    <input type="text" th:field="*{deliveryState}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryState')}"
          th:errors="*{deliveryState}">Podanie województwa jest obowiązkowe</span>
    <br/>

    <label for="deliveryZip">Kod pocztowy</label>
    <input type="text" th:field="*{deliveryZip}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryZip')}"
          th:errors="*{deliveryZip}">Błąd numeru karty kredytowej</span>
    <br/>

    <h3>Sposób płatności</h3>
    <label for="ccNumber">Numer karty kredytowej</label>
    <input type="text" th:field="*{ccNumber}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}">Nieprawidłowy numer karty</span>
    <br/>

    <label for="ccExpiration">Data wygaśnięcia karty</label>
    <input type="text" th:field="*{ccExpiration}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}">Must be formatted MM/YY</span>
    <br/>

    <label for="ccCVV">Kod CVV</label>
    <input type="text" th:field="*{ccCVV}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}">Nieprawidłowy kod CVV</span>
    <br/>
    <input type="submit" value="Złóż zamównienie">

</form>
</body>
</html>